<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/layui/css/layui.css">
    <script type="text/javascript" src="components/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="components/jquery/jquery.ajax.js"></script>
    <script type="text/javascript" src="components/layui/layui.js"></script>
    <style type="text/css">
        .material_area_tr {
            height: 90%;
        }

        .service_name_div {
            float: left;
        }

        label {
            font-weight: normal;
        }

        .not_exists_data {
            text-align: center;
        }

        th {
            background-color: #f5f5f5;
        }

        .unified_material_name_div {
            float: left;
        }

        .unified_material_btn {
            float: right;
        }

        .th_fixed {
            position: fixed;
            z-index: 999;
            top: 0px;
            height: 53px
        }

        .float_right {
            float: right;
        }

        .panel-heading {
            cursor: pointer;
            background-color: #009688 !important;
            color: #fff !important;
        }
    </style>
</head>

<body style="height:100%;">

<div style="height:100%;">
    <div style="height:100%;">
        <table id="autoTable" style="height:100%;" class="table table-bordered">
            <tbody>
            <tr height="51px">
                <th style="text-align: center;line-height: 36px;" width="45%" class="th_fixed">
                    原材料
                </th>
                <td style="text-align: center;border-bottom:0px solid #FFF" width="10%"></td>
                <th style="text-align: center;line-height: 36px;" width="45%" class="th_fixed float_right">统一后材料</th>
            </tr>

            <tr class="material_area_tr">
                <td style="vertical-align:top;text-align:left;" width="45%">
                    <div id="materail_div" style="display: block;">
                        <div>
                            <!-- 事项 -->
                            <div id="service_panel" class="panel panel-default">

                            </div>
                        </div>
                    </div>
                    <div id="materail_div_none" style="display:none;">
                        <div class="not_exists_data">暂无数据</div>
                    </div>
                </td>
                <td style="text-align: center;border-top:0px solid #FFF">
                    <a href="javascript:add();" class="btn btn-danger" style="position: fixed;right:46%;top:20%;">
                        材料映射
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </a>
                </td>
                <td id="material_panel" style="vertical-align:top;text-align:left;" width="45%">
                    <input type="hidden" value="true">
                    <div id="target_div">
                        <div id="unified_material_panel" style="display: block;" class="panel panel-default">

                        </div>
                    </div>
                    <div id="target_div_none" style="display: none;">
                        <div class="not_exists_data">暂无数据</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<script th:inline="javascript">
    var moduleUnid = [[${moduleUnid}]];
</script>
<script type="text/javascript">
    var layer;
    var form;
    layui.use(['layer','form'], function () {
        layer = layui.layer;
        form = layui.form;
    })

    $(function () {
        initPage();
    });

    function initPage(){
        //获取初始化数据
        $.ajax({
            type: "get",
            url: "get_materialConfig",
            data: {"moduleUnid":moduleUnid},
            dataType: "json",
            success: function (res) {
                var moduleServices = res.moduleServices;
                var moduleMaterials = res.moduleMaterials;
                render_r(moduleServices);//渲染原始材料
                render_u(moduleMaterials);//渲染原始材料

            }
        });
    }

    //原材料
    function render_r(moduleServices){
        if(!!moduleServices && moduleServices.length > 0){
            var html_service = '';
            for(var i=0;i<moduleServices.length;i++){
                html_service +='<div class="panel-heading" onclick="showOrhideMaterial(this)" style="overflow: auto; display: block;">'
                              +'      <div class="service_name_div">'
                              +'          <span class="glyphicon glyphicon-list-alt"></span>'
                              +'          <span title="'+moduleServices[i].service_name+'">'+moduleServices[i].service_name+'</span>'
                              +'      </div>'
                              +'</div>';
                var apasMaterialList = moduleServices[i].apasMaterialList;

                html_service +='<div class="panel-body">'
                              +'      <input type="hidden" class="info_serviceUnid" value="276c0e871a8e4b80a8364fed5b2c2248">'
                              +'      <input type="hidden" class="info_serviceName" value="户口登记,注销,迁移">';
                              +'      <div class="materialList">';
                for(var j=0;j<apasMaterialList.length;j++){
                    if(apasMaterialList[j].material_rid == 'null' || apasMaterialList[j].material_rid == null){
                        html_service +='<div>'
                                     +'      <label>'
                                     +'          <input class="material_checkbox" type="checkbox" value="'+apasMaterialList[j].unid+'" name="material_checkbox'+moduleServices[i].serviceid+'" data-name="'+apasMaterialList[j].infoname+'">'
                                     +'          <input type="hidden" class="info_materialName" value="'+apasMaterialList[j].infoname+'">'
                                     +'          <span title="'+apasMaterialList[j].infoname+'">'+apasMaterialList[j].infoname+'</span>'
                                     +'      </label>'
                                     +'  </div>';

                    }else{
                        html_service +='<div>'
									  +'	<label>'
									  +'		<input class="material_checkbox mapped" style="display:none;" type="checkbox"'
                                      +'                     value="'+apasMaterialList[j].unid+'"  name="material_checkbox'+moduleServices[i].serviceid+'"'
                                      +'                     unifiedunid=value="'+apasMaterialList[j].material_rid+'" >'
									  +'		<span style="color:red;">(已映射)</span>'
									  +'		<input type="hidden" class="info_materialName" value="'+apasMaterialList[j].infoname+'">'
									  +'		<span title="'+apasMaterialList[j].infoname+'">'+apasMaterialList[j].infoname+'</span>'
									  +'	</label>'
                                      +' </div>';
                    }
                }
                html_service +='</div></div>';
            }
            $('#service_panel').empty().append(html_service);
            $('#materail_div_none').hide();
        }else{
            $('#materail_div_none').show();
        }
    }

    //统一后材料
    function render_u(moduleMaterials){
    console.log(moduleMaterials);
        if(!!moduleMaterials && moduleMaterials.length > 0){
            var html_material = '';
            for(var i=0;i<moduleMaterials.length;i++){
                var apasMaterial_r = moduleMaterials[i].apasMaterial_r;
                html_material +='<div class="panel-heading" onclick="showOrhideMaterial(this)" style="overflow: auto;">'
                               +'     <div class="unified_material_name_div">'
                               +'         <span class="glyphicon glyphicon-duplicate"></span>'
                               +'         <span title="'+apasMaterial_r.infoname+'">'+apasMaterial_r.infoname+'</span>'
                               +'     </div>'
                               +'     <div class="unified_material_btn">'
                               +'         <a class="btn btn-default btn-sm" onclick=deleteMaterialConfig("'+moduleMaterials[i].unid+'")>删除 </a>'
                               +'     </div>'
                               +' </div>';
                 html_material +='<div class="panel-body" style="display:none;">'
                               +'     <table class="table table-bordered">'
                               +'         <colgroup>'
                               +'             <col width="10%">'
                               +'             <col width="45%">'
                               +'             <col width="45%">'
                               +'         </colgroup>'
                               +'         <tbody>'
                               +'         <tr>'
                               +'             <td>序号</td>'
                               +'             <td>材料名称</td>'
                               +'             <td>所属事项</td>'
                               +'         </tr>'
                               +'         </tbody>'
                               +'         <tbody>';
                  var apasMaterialList = moduleMaterials[i].apasMaterialList;
                  for(var j=0;j<apasMaterialList.length;j++){
                    html_material +='<input type="hidden" class="unifiedMaterial" unifiedserviceunid="'+apasMaterialList[j].serviceid+'" unifiedmaterialunid="'+apasMaterialList[j].unid+'">'
                                  +'      <tr materialunid="'+apasMaterialList[j].unid+'">'
                                  +'          <td>'+(j+1)+'</td>'
                                  +'          <td title="'+apasMaterialList[j].infoname+'">'+apasMaterialList[j].infoname+'</td>'
                                  +'          <td title="'+apasMaterialList[j].servicename+'">'+apasMaterialList[j].servicename+'</td>'
                                  +'      </tr>';
                  }
                  html_material +='</tbody></table></div>';
            }
            html_material +='</div>';
            $('#unified_material_panel').empty().append(html_material);
            $('#target_div_none').hide();
        }else{
            $('#unified_material_panel').empty();
            $('#target_div_none').show();
        }
    }

    //添加统一材料
    function add(){
            var _hasCheckedMaterial;
            var _hasCheckedMaterials = [];
        $('.material_checkbox:not(.mapped)').each(function(){
            if($(this).prop('checked')){
                _hasCheckedMaterial = new Object();
                _hasCheckedMaterial.material_unid = $(this).val();
                _hasCheckedMaterial.material_name = $(this).attr('data-name');
                _hasCheckedMaterials.push(_hasCheckedMaterial);
            }
        });
        if(_hasCheckedMaterials.length <=1){
            layer.alert("请选择至少两个原材料");
        }else{
            var html_hasCheckedMaterials = '';
            var materialids_arr = [];
            for(var i=0;i<_hasCheckedMaterials.length;i++){
                html_hasCheckedMaterials +='<div class="layui-input-block" style="margin-left: 20px">'
                                          +'     <input type="radio" lay-filter="checkedmaterial" name="checkedmaterial" data-mid="'+_hasCheckedMaterials[i].material_unid+'" value="'+_hasCheckedMaterials[i].material_name+'" title="'+_hasCheckedMaterials[i].material_name+'">'
                                          +' </div>';
                materialids_arr.push(_hasCheckedMaterials[i].material_unid);
            }
            $("#choseMaterial-c").empty().append(html_hasCheckedMaterials);
            form.render('radio');
            var checked_materialunid = '';
            form.on('radio(checkedmaterial)', function(data){
              checked_materialunid = $(data.elem).attr('data-mid');
            });
            layer.open({
                type:1,
                content: $('#choseMaterial'),
                area: ['500px', '300px'],
                btn: ['确定'],
                yes: function(index, layero){
                    //checked_materialunid = $('input[name="checkedmaterial"]:checked').attr('data-mid');
                    if(checked_materialunid == ''){
                        layer.alert("请选择材料");
                    }else{
                         //新增统一材料
                        $.ajax({
                            type: "post",
                            url: "save_materialConfig",
                            data: {"module_unid":moduleUnid,"materialids":materialids_arr.join(','),"material_rid":checked_materialunid},
                            dataType: "text",
                            success: function (res) {
                                initPage();
                            }
                        });
                        layer.close(index);
                    }


              }
            });
        }
    }

    function deleteMaterialConfig(unid){
        $.ajax({
            type: "post",
            url: "delete_materialConfig",
            data: {"unid":unid},
            dataType: "text",
            success: function (res) {
                initPage();
            }
        });
    }

    //隐藏或显示材料
    function showOrhideMaterial(obj) {
        $(obj).next(".panel-body").toggle();
    }
</script>
</body>
<div id="choseMaterial" style="display:none;">
    <form class="layui-form" lay-filter="form-material">
        <div class="layui-form-item" id="choseMaterial-c">

        </div>
    </form>
</div>
</html>